body {
  margin: 0;
  background: url('http://wallperio.com/data/out/499/space-images_625400631.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  index-z: -1;
}

.row {
height: 10%
}
.my-4 {
  color: white;
}
